[submodule "simter-vue-hello"]
	path = simter-vue-hello
	url = git@github.com:simter/simter-vue-hello.git
[submodule "simter-vue-colgroup"]
	path = simter-vue-colgroup
	url = git@github.com:simter/simter-vue-colgroup.git
[submodule "simter-vue-thead"]
	path = simter-vue-thead
	url = git@github.com:simter/simter-vue-thead.git
[submodule "simter-vue-table"]
	path = simter-vue-table
	url = git@github.com:simter/simter-vue-table.git
[submodule "simter-vue-button"]
	path = simter-vue-button
	url = git@github.com:simter-vue/simter-vue-button.git
